$cWhite: white;
$cBlack: black;
$cDarkGray: #333333;
$cNavy: navy;
$cHeader: #e0ffff;
$cBgLight: #f8f9fa;
$cReadOnly: #EAEAEE;
$navHeight: 100px;
$breadcrumbHeight: 40px;
$contentsHeightOffset: $navHeight + $breadcrumbHeight;
$leftnavWidth: 230px;
$bodyHeight: calc(100vh - calc(100px + 40px));
$mainWidth: calc(100% - 230px);