h1 {
  &.title {
    font-size: 32px;
  }
}

body {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  height: $bodyHeight;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: $navHeight;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: $cHeader;
  border: 1px solid $cDarkGray;

  &__inner {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;

    & .logo {
      display: flex;
      font-size: 38px;
      position: relative;

      & a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &__image {
        width: 0.8em;
      }

      &__first {
        color: $cDarkGray;
      }

      &__second {
        color: $cNavy;
      }
    }

    & .right-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: right;

      & .user {
        margin: 0 20px;
        font-size: small;
      }
      
      & .logout {
        text-align: right;
        width: auto;
        margin: 0;
      }
    }
  }
}

.un-visible {
  visibility: hidden;
}

.bg-readonly {
  background-color: $cReadOnly;
}

.messageConfirmation {
  color: blue;
  font-size: large;
  font-weight: 600;
}

.messageExecuted {
  color: blue;
  font-size: large;
  font-weight: 600;
}

.error-message-grobal {
  color: red;
  font-size: small;
  margin-bottom: 20px;

  & ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.error-message-field {
  color: red;
  font-size: small;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.login {
  width: 100%;
  margin: 0 auto;
}

.breadcrumb-wrap {
  position: fixed;
  top: $navHeight;
  left: 0;
  padding: 5px 0 -0 20px;
  width: 100%;
  height: $breadcrumbHeight;
  z-index: 100;
  background-color: $cBgLight;

  &.dummy {
    background-color: transparent;
  }
}

.content {
  display: flex;
  height: 100%;

  & .left-nav {
    position: fixed;
    top: $contentsHeightOffset;
    padding-top: 10px;
    width: $leftnavWidth;
    height: 100%;
    z-index: 100;
    background-color: $cBgLight;
    font-size: small;
    
    ul {
      list-style: none;
    }
  }

  & .main {
    margin: $contentsHeightOffset 0 0 $leftnavWidth;
    width: $mainWidth;
    height: 100%;
    z-index: 0;

    &.login {
      margin: $contentsHeightOffset auto;
    }

    & .center {
      padding: 10px 10px 0 10px;

      & .tytle {
        text-align: center;
        margin-bottom: 10px;
        vertical-align: middle;
        font-size: x-large;
        font-weight: bold;
      }

      & .staff-search {
        width: 95%;
        margin: 0 auto;

        &__result {
          width: 100%;

          &__count {
            text-align: right;
          }

          &__list {
            overflow-x: scroll;
    
            &__table {
              font-size: small;
    
              & th {
                white-space: nowrap;
              }
              
              & td {
                white-space: nowrap;
                vertical-align: middle;
              }
            }
          }

          &__lower {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            
            &__select-max-page {
              display: flex;
              justify-content: space-between;
              align-items: center;

              & #maxRow {
                margin: 0 10px;
              }
            }

            & nav ul {
              margin: 0;
            }
          }
        }
      }

      & .staff-detail {
        width: 95%;
        margin: 30px auto 0;
        
        &__title {
          font-weight: 600;
        }

        &__table {
          font-size: small;

          & td {
            vertical-align: middle;
          }

          &__separate {
            display: flex;

            &__column {
              width: 50%;
            }
          }
        }

        & .btn-detail {
          margin-bottom: 10px;
          text-align: center;
      
          & button {
            width: 30%;
            max-width: 200px;
            margin: auto 50px;
          }
        }

      }

      &__end {
        width: 100%;
        height: 50px;
      }
    }

    & .right {
      padding: 10px 0 0 10px;
    }
  }
}

.search {
  border: 1px solid;
  margin: 10px 10px 20px;
  font-size: small;

  &__row {
    width: 95%;
    display: flex;
    margin: 10px auto;

    &__separate {
      width: 48%;
      display: flex;

      &__label {
        margin: auto;
        width: 30%;
        text-align: center;
      }

      &__input {
        width: 70%;
      }
    }

    &__center {
      width: 4%
    }

    &__single {
      width: 100%;
      display: flex;

      &__label {
        margin: auto;
        width: 14.4%;
        text-align: center;
      }

      &__input {
        width: 85.6%;
      }
    }
    
    &__date-range {
      width: 100%;
      display: flex;
      height: 38px;

      &__label {
        margin: auto;
        width: 14.4%;
        text-align: center;
      }

      &__date {
        width: 40%;
        
        &__input {
          text-align: center;
          width: 100%;
          height: 100%;
          border: 1px solid silver;
          border-radius: 0.25em;
          font-size: large;
        }
      }
  
      &__connect {
        width: 5.6%;
        text-align: center;
        margin: auto;
        font-size: large;
        color: gray;
      }
    }
  }

  & .btn-search {
    margin-bottom: 10px;
    text-align: center;

    & button {
      width: 30%;
    }
  }
}