<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta_header(title,links,scripts)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}+' | TestApplication'">各ページタイトル | sample app</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<body>
    <header class="header" th:fragment="header">
        <div class="header__inner">
            <div class="logo">
                <a href="#" th:href="@{/}"></a>
                <!--/* --><img class="logo__image" src="../static/images/logo.svg" alt="logoImage"><!-- */-->
                <!--/*/<img class="logo__image" th:src="@{/images/logo.svg}" alt="logoImage">/*/-->
                <span class="logo__first">Test</span>
                <span class="logo__second">Application</span>
            </div>
            
            <div class="right-item" th:if="${header} != null">
                <div class="user">
                    <table>
                        <tr>
                            <td nowrap>ユーザーID</td>
                            <td nowrap>:</td>
                            <td nowrap th:text="${header.userId}">000</td>
                        </tr>
                        <tr>
                            <td>ユーザー名</td>
                            <td nowrap>:</td>
                            <td nowrap th:text="${header.userName}">John Doe</td>
                        </tr>
                        <tr>
                            <td nowrap>部署名</td>
                            <td nowrap>:</td>
                            <td nowrap th:text="${header.departmentName}">John Doe</td>
                        </tr>
                    </table>
                    <!-- <p>ユーザーID:<span th:text="${header.userId}">000</span></p>
                    <p>ユーザー名:<span th:text="${header.userName}">John Doe</span></p>
                    <p>部署名:<span th:text="${header.departmentName}">John Doe</span></p> -->
                </div>
    
                <div class="container-fluid logout">
                    <form action="login.html" th:action="@{/logout}" method="post">
                        <!--/* --><button type="button" class="btn btn-outline-dark btn-light" onclick="location.href='top.html'">ログアウト</button><!-- */-->
                        <!--/*/<button type="submit" class="btn btn-outline-dark btn-light">ログアウト</button>/*/-->
                    </form>
                </div>
            </div>
            <script>document.querySelector(".user").style.display = 'none';</script>
        </div>
    </header>
</body>
</html>