<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta_header(title,links,scripts)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}+' | TestApplication'">各ページタイトル | sample app</title>
    <meta name="description" content="This site is a test site.">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:inline="javascript">
        window.addEventListener('load', function(){
            const header = /*[[${header}]]*/ { };
            if (header) {
                if (header.role === 'ROLE_USER') {
                    const element = document.querySelector('.tr-department-name');
                    element.remove();
                }
                document.querySelector('.user').classList.remove('un-visible');
            }
        });
    </script>
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<body>
    <header class="header" th:fragment="header">
        <div class="header__inner">
            <div class="logo">
                <a href="top.html" th:href="@{/}"></a>
                <!--/* --><img class="logo__image" src="../static/images/logo.svg" alt="logoImage"><!-- */-->
                <!--/*/<img class="logo__image" th:src="@{/images/logo.svg}" alt="logoImage">/*/-->
                <span class="logo__first">Test</span>
                <span class="logo__second">Application</span>
            </div>
            
            <div class="right-item" th:if="${header} != null">
                <div class="user un-visible">
                    <table>
                        <tr class="tr-user-id">
                            <td nowrap>ユーザーID</td>
                            <td nowrap>:</td>
                            <td class="user-id" nowrap th:text="${header.userId}">000</td>
                        </tr>
                        <tr class="tr-user-name">
                            <td>ユーザー名</td>
                            <td nowrap>:</td>
                            <td class="user-name" nowrap th:text="${header.userName}">John Doe</td>
                        </tr>
                        <tr class="tr-department-name">
                            <td nowrap>部署名</td>
                            <td nowrap>:</td>
                            <td class="department-name" nowrap th:text="${header.departmentName}">Engineering</td>
                        </tr>
                    </table>
                </div>
    
                <div class="container-fluid logout">
                    <form action="login.html" th:action="@{/logout}" method="post">
                        <!--/* --><button type="button" class="btn btn-outline-dark btn-light" onclick="location.href='login.html'">ログアウト</button><!-- */-->
                        <!--/*/<button type="submit" class="btn btn-outline-dark btn-light">ログアウト</button>/*/-->
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="left-nav border-start border-bottom" th:fragment="left-nav">
        <ul>
            <li>
                <a href="serch.html" th:href="@{serch}">
                    社員管理
                </a>
                <ul>
                    <li><a href="#">社員検索</a></li>
                    <li><a href="#">社員登録</a></li>
                </ul>
            </li>
            <li><a href="#">部署管理</a></li>
            <li><a href="#">社内申請</a></li>
            <li><a href="#">会議室予約</a></li>
            <li><a href="#">顧客検索</a></li>
            <li><a href="#">サービス管理</a></li>
            <li><a href="#">受注管理</a></li>
            <li><a href="#">契約管理</a></li>
        </ul>
    </div>
</body>
</html>