<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta_header(title,links,scripts)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}+' | TestApplication'">各ページタイトル | sample app</title>
    <meta name="description" content="This site is a test site.">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/header.js}" type="module"></script>
    <script th:inline="javascript" type="module">
        import { initHeader } from '/js/header.js';
        window.addEventListener('load', function(){
            const header = /*[[${header}]]*/ null;
            initHeader(header);
        });
    </script>
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<body>
    <header class="header" th:fragment="header">
        <div class="header__inner">
            <div class="logo">
                <a href="top.html" th:href="@{/}"></a>
                <!--/* --><img class="logo__image" src="../static/images/logo.svg" alt="logoImage"><!-- */-->
                <!--/*/<img class="logo__image" th:src="@{/images/logo.svg}" alt="logoImage">/*/-->
                <span class="logo__first">Test</span>
                <span class="logo__second">Application</span>
            </div>
            
            <div class="right-item" th:if="${header} != null">
                <div class="user un-visible">
                    <table>
                        <tr class="tr-user-id">
                            <td nowrap>ユーザーID</td>
                            <td nowrap>:</td>
                            <td class="user-id" nowrap th:text="${header.userId}">000</td>
                        </tr>
                        <tr class="tr-user-name">
                            <td>ユーザー名</td>
                            <td nowrap>:</td>
                            <td class="user-name" nowrap th:text="${header.userName}">John Doe</td>
                        </tr>
                        <tr class="tr-department-name staff-item">
                            <td nowrap>部署名</td>
                            <td nowrap>:</td>
                            <td class="department-name" nowrap th:text="${header.departmentName}">Engineering</td>
                        </tr>
                    </table>
                </div>
    
                <div class="container-fluid logout">
                    <form action="login.html" th:action="@{/logout}" method="post">
                        <!--/* --><button type="button" class="btn btn-outline-dark btn-light" onclick="location.href='login.html'">ログアウト</button><!-- */-->
                        <!--/*/<button type="submit" class="btn btn-outline-dark btn-light">ログアウト</button>/*/-->
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="left-nav border-start border-bottom" th:fragment="left-nav">
        <ul class="left-nav__menu un-visible">
            <li class="staff-item">
                <a href="serch.html" th:href="@{serch}">
                    社員情報
                </a>
                <ul>
                    <li><a href="#">社員情報登録</a></li>
                    <li><a href="#">社員情報検索</a></li>
                </ul>
            </li>
            <li>
                <a href="#">お客様情報</a>
                <ul>
                    <li><a href="#">お客様情報登録</a></li>
                    <li><a href="#">お客様情報検索</a></li>
                    <li><a href="#">パスワード変更</a></li>
                    <li><a href="#">パスワード初期化依頼</a></li>
                    <li><a href="#">パスワード初期化承認</a></li>
                </ul>
            </li>
            <li class="staff-item"><a href="#">部署情報</a></li>
            <li class="staff-item"><a href="#">役職情報</a></li>
            <li class="staff-item"><a href="#">社内申請</a></li>
            <li class="staff-item"><a href="#">会議室情報</a></li>
            <li><a href="#">ご注文状況</a></li>
            <li class="staff-item"><a href="#">受付情報</a></li>
            <li><a href="#">商品サービス情報</a></li>
            <li class="staff-item">
                <a href="#">サービス工程管理</a>
                <ul>
                    <li><a href="#">提供工程管理</a></li>
                    <li><a href="#">開発工程管理</a></li>
                </ul>
            </li>
            <li><a href="#">サービスご利用状況</a></li>
        </ul>
    </div>
</body>
</html>