<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('ログイン',~{::link},~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ログイン | TestApplication</title>
    <!--/* -->
    <link rel="icon" href="../static/images/logo.png">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script>
        $(function (){
            $.ajaxSetup({cache:false});
            $('header.header .header__inner').load('./common.html .header .header__inner .logo');
        });
    </script>
    <!-- */-->
</head>
<body>
    <!--/* --><header class="header"><div class="header__inner"></div></header><!-- */-->
    <!--/*/<header th:replace="common :: header"></header>/*/-->
    <nav class="breadcrumb-wrap dummy"></nav>
    <div class="content">
        <div class="main login">
            <div class="container-fluid login">
                <h1 class="title">ログイン</h1>
                <form method="post" action="top.html" th:action="@{authentication}">
                    <p>IDとパスワードを入力してください</p>
                    <p class="overall-message" th:if="${param.error}">ユーザーIDまたはパスワードが誤っています</p>
                    <div class="form-group mt-3">
                        <label for="userID">ユーザーID</label>
                        <input class="form-control field" type="text" name="userId" id="userID" th:value="${userId}" placeholder="User ID" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="">パスワード</label>
                        <input class="form-control field" type="password" name="password" id="password" th:value="${password}" placeholder="Password" />
                    </div>
                    <div class="text-end">
                        <!--/* --><button type="button" class="btn btn-primary mt-4" onclick="location.href='top.html'">送信</button><!-- */-->
                        <!--/*/<button type="submit" class="btn btn-primary mt-4">送信</button>/*/-->
                    </div>
                </form>
            </div> 
        </div>
    </div>
</body>
</html>