<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
</head>
<body>
    <h1><span th:text="${status}">OK</span></h1>

    <p>ユーザーID：<span th:text="${response.userId}">000</span></p>
    <p>ユーザー名：<span th:text="${response.userName}">John Doe</span></p>
    <!--/* -->
    <p>ロール：<span th:text="${response.role}">Role</span></p>
    <!-- */-->
    <p>部署名：<span th:text="${response.departmentName}">John Doe</span></p>
    <p>Eメールアドレス：<span th:text="${response.privateEmail}">John Doe</span></p>
    <p>Eメールアドレス：<span th:text="${response.workplaceEmail}">John Doe</span></p>

    <nav>
        <ul>
            <li>
                <a href="serch.html" th:href="@{serch}">
                    社員管理
                </a>
                <ul>
                    <li><a href="#">社員検索</a></li>
                    <li><a href="#">社員登録</a></li>
                </ul>
            </li>
            <li><a href="#">部署管理</a></li>
            <li><a href="#">社内申請</a></li>
            <li><a href="#">会議室予約</a></li>
            <li><a href="#">顧客検索</a></li>
            <li><a href="#">サービス管理</a></li>
            <li><a href="#">受注管理</a></li>
            <li><a href="#">契約管理</a></li>
        </ul>
    </nav>

    <form th:action="@{/logout}" method="post">
        <button type="submit">ログアウト</button>
    </form>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"> </script>
    <div id="icatwidthc" title="800" /></div>
    <div id="icatheightc" title="500" /></div>
    <script type="text/javascript" src="https://www.ipa.go.jp/security/announce/irss/icatwc.js"> </script>
</body>
</html>