<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('トップ',~{::link},~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>トップ | TestApplication</title>
    <!--/* -->
    <link rel="icon" href="../static/images/logo.png">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script>
        $(function (){
            $.ajaxSetup({cache:false});
            $('header.header').load('./common.html .header .header__inner');
        });
        $(function (){
            $.ajaxSetup({cache:false});
            $('div.left-nav').load('./common.html .left-nav__menu');
        });
    </script>
    <script type="module">
        import { initHeader } from "../static/js/header_template.js";
        let timerId = setInterval(function(){
            if (document.querySelector('.user-id')) {
                initHeader();
                clearInterval(timerId);
            }
        },100);
    </script>
    <!-- */-->
</head>
<body>
    <!--/* --><header class="header"><div class="header__inner"></div></header><!-- */-->
    <!--/*/<header th:replace="common :: header"></header>/*/-->
    <nav class="breadcrumb-wrap border" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="top.html" th:href="@{/top}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Staff</li>
        </ol>
    </nav>
    <div class="content">
        <!--/* --><div class="left-nav border-start border-bottom"></div><!-- */-->
        <!--/*/<div th:replace="common :: left-nav"></div>/*/-->
        <div class="row main">
            <div class="center col-10 border-start border-end border-bottom">
                <button type="button" class="btn btn-outline-primary">検索</button>
                <button type="button" class="btn btn-outline-primary">新規登録</button>
            </div>
            <div class="right col-2 border-end border-bottom"></div>
        </div>
    </div>
</body>
</html>