<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('社員情報照会',~{::link},~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>社員情報照会 | TestApplication</title>
    <!--/* -->
    <link rel="icon" href="../static/images/logo.png">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script>
        $(function (){
            $.ajaxSetup({cache:false});
            $('header.header').load('./common.html .header .header__inner');
        });
        $(function (){
            $.ajaxSetup({cache:false});
            $('div.left-nav').load('./common.html .left-nav__menu');
        });
    </script>
    <script type="module">
        import { initHeader } from "../static/js/header_template.js";
        let timerId = setInterval(function(){
            if (document.querySelector('.user-id')) {
                initHeader();
                clearInterval(timerId);
            }
        },100);
    </script>
    <!-- */-->
    <!--/*/
    <script th:src="@{/js/pagenation_maxrowselector.js}" type="module"></script>
    <script th:inline="javascript" type="module">
        import { setPageNation, setMaxRowSelector, addEventSetRowLimitSizeToPageNationHrefParam } from "/js/pagenation_maxrowselector.js"
        window.addEventListener('load', function(){
            const staffs = /*[[${staffs}]]*/ null;
            if (staffs) {
                const count = /*[[${count}]]*/ 0;
                const limitSize = /*[[${limitSize}]]*/ 0;
                const page = /*[[${page}]]*/ 0;

                setPageNation(count, limitSize, page);
                setMaxRowSelector(limitSize);
                
                addEventSetRowLimitSizeToPageNationHrefParam();
            }
        });
    </script>
    /*/-->
</head>
<body>
    <!--/* --><header class="header"><div class="header__inner"></div></header><!-- */-->
    <!--/*/<header th:replace="common :: header"></header>/*/-->
    <nav class="breadcrumb-wrap border" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="top.html" th:href="@{/top}">トップ</a></li>
            <li class="breadcrumb-item"><a href="staff.html" th:href="@{/staff}">社員情報</a></li>
            <li class="breadcrumb-item"><a href="staff-search.html" th:href="@{/staff/search}">検索</a></li>
            <li class="breadcrumb-item active" aria-current="page">照会</li>
        </ol>
    </nav>
    <div class="content">
        <!--/* --><div class="left-nav border-start border-bottom"></div><!-- */-->
        <!--/*/<div th:replace="common :: left-nav"></div>/*/-->
        <div class="row main">
            <div class="center col-12 border-start border-end border-bottom">
                <div class="page-header bg-light shadow-sm border tytle">社員情報照会</div>
                <a class="btn btn-outline-primary" href="#" th:href="@{/staff/search}">更新</a>
                <a class="btn btn-outline-primary" href="#" th:href="@{/staff/search}">削除</a>
                <div class="staff-search">
                    <div class="staff-search__result" th:if="${staffs} != null">
                        <div class="staff-search__result__count" th:text="${limitSize} * (${page} - 1) + 1 + ' 件目 / ' + ${count} + ' 件 (' + ${limitSize} + '件表示)'">25 件目 / 135 件 (25件表示)</div>
                        <div class="staff-search__result__list">
                            <table class="table table-striped staff-search__result__list__table">
                                <thead class="table-dark">
                                    <tr>   
                                        <th scope="col">照会</th>
                                        <th scope="col">ユーザーID</th>
                                        <th scope="col">氏名</th>
                                        <th scope="col">部署</th>
                                        <th scope="col">性別</th>
                                        <th scope="col">生年月日</th>
                                        <th scope="col">血液型</th>
                                        <th scope="col">都道府県</th>
                                        <th scope="col">市町村</th>
                                        <th scope="col">電話番号(私用)</th>
                                        <th scope="col">Eメールアドレス(私用)</th>
                                        <th scope="col">電話番号(社内)</th>
                                        <th scope="col">Eメールアドレス(社内)</th>
                                        <th scope="col">有効開始日</th>
                                        <th scope="col">有効終了日</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="staff : ${staffs}">
                                        <td><a class="btn btn-sm btn-outline-primary" href="" th:href="@{/staff/__${staff.userId}__(paramExpirationStart=${staff.expirationStart},page=1,limitSize=25)}">照会</a></td>
                                        <td th:text="${staff.userId}">STF0000002</td>
                                        <td th:text="${staff.familyName} + ' ' + ${staff.firstName}">楠 圭二</td>
                                        <td th:text="${staff.departmentName}">D30001</td>
                                        <td th:text="${staff.genderName}">0001</td>
                                        <td th:text="${staff.birthdate}">1873-11-09</td>
                                        <td th:text="${staff.bloodTypeName}">0001</td>
                                        <td th:text="${staff.addressPrefectureName}">0006</td>
                                        <td th:text="${staff.addressMunicipality}">南陽市長岡</td>
                                        <td th:text="${staff.privateTelNo}">07727301437</td>
                                        <td th:text="${staff.privateEmail}">user2@private.com</td>
                                        <td th:text="${staff.workplaceTelNo}">06041084375</td>
                                        <td th:text="${staff.workplaceEmail}">user2@sales.com</td>
                                        <td th:text="${staff.expirationStart}">2022-06-01</td>
                                        <td th:text="${staff.expirationEnd}">2022-09-01</td>
                                    </tr>
                                    <!--/* -->
                                    <tr th:each="staff : ${staffs}">
                                        <td><a class="btn btn-sm btn-outline-primary" href="">照会</a></td>
                                        <td>STF0000002</td>
                                        <td>楠 圭二</td>
                                        <td>D30001</td>
                                        <td>0001</td>
                                        <td>1873-11-09</td>
                                        <td>0001</td>
                                        <td>0006</td>
                                        <td>南陽市長岡</td>
                                        <td>07727301437</td>
                                        <td>user2@private.com</td>
                                        <td>06041084375</td>
                                        <td>user2@sales.com</td>
                                        <td>2022-09-02</td>
                                        <td>2023-12-31</td>
                                    </tr>
                                    <!-- */-->
                                </tbody>
                            </table>
                        </div>
                        <div class="staff-search__result__lower">
                            <div class="staff-search__result__lower__select-max-page">
                                <div>表示行数</div>
                                <select id="maxRow">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-sm">
                                  <li class="page-item previous">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <li class="page-item num"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item num active"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item num"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item next">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="staff-detail" th:if="${detail} != null">
                    <table class="table table-striped staff-detail__table">
                        <tbody>
                            <tr>
                                <td>ユーザーID</td>
                                <td th:text="${detail.userId}">STF0000002</td>
                            </tr>
                            <tr>
                                <td>氏名</td>
                                <td th:text="${detail.familyName}">楠</td>
                                <td th:text="${detail.firstName}">圭二</td>
                            </tr>
                            <tr>
                                <td>部署</td>
                                <td th:text="${detail.departmentName}">営業部</td>
                            </tr>
                            <tr>
                                <td>性別</td>
                                <td th:text="${detail.genderName}">男性</td>
                            </tr>
                            <tr>
                                <td>生年月日</td>
                                <td th:text="${detail.birthdate}">1873-11-09</td>
                            </tr>
                            <tr>
                                <td>血液型</td>
                                <td th:text="${detail.bloodTypeName}">A</td>
                            </tr>
                            <tr>
                                <td>都道府県</td>
                                <td th:text="${detail.addressPrefectureName}">山形県</td>
                            </tr>
                            <tr>
                                <td>市町村</td>
                                <td th:text="${detail.addressMunicipality}">南陽市長岡</td>
                            </tr>
                            <tr>
                                <td>電話番号(私用)</td>
                                <td th:text="${detail.privateTelNo}">07727301437</td>
                            </tr>
                            <tr>
                                <td>Eメールアドレス(私用)</td>
                                <td th:text="${detail.privateEmail}">user2@private.com</td>
                            </tr>
                            <tr>
                                <td>電話番号(職場)</td>
                                <td th:text="${detail.workplaceTelNo}">06041084375</td>
                            </tr>
                            <tr>
                                <td>Eメールアドレス(職場)</td>
                                <td th:text="${detail.workplaceEmail}">user2@sales.com</td>
                            </tr>
                            <tr>
                                <td>有効開始日</td>
                                <td th:text="${detail.expirationStart}">2022-06-01</td>
                            </tr>
                            <tr>
                                <td>有効終了日</td>
                                <td th:text="${detail.expirationEnd}">2022-09-01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="center__end"></div>
            </div>
        </div>
    </div>
</body>
</html>