<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('ログイン',~{::link},~{::script})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ログイン</title>
    <!--/* -->
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script>
        $(function (){
            $.ajaxSetup({cache:false});
            $('header.header').load('./common.html .header .header__inner');
        });
    </script>
    <!-- */-->
</head>
<body>
    <!--/* --><header class="header"><div class="header__inner"></div></header><!-- */-->
    <!--/*/<header th:replace="common :: header"></header>/*/-->
    <nav class="breadcrumb-wrap border" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <div class="content">
        <div class="left-nav border-start border-bottom">
            <ul>
                <li>
                    <a href="serch.html" th:href="@{serch}">
                        社員管理
                    </a>
                    <ul>
                        <li><a href="#">社員検索</a></li>
                        <li><a href="#">社員登録</a></li>
                    </ul>
                </li>
                <li><a href="#">部署管理</a></li>
                <li><a href="#">社内申請</a></li>
                <li><a href="#">会議室予約</a></li>
                <li><a href="#">顧客検索</a></li>
                <li><a href="#">サービス管理</a></li>
                <li><a href="#">受注管理</a></li>
                <li><a href="#">契約管理</a></li>
            </ul>
        </div>
        <div class="row main">
            <div class="center col-10 border-start border-end border-bottom">
                center
            </div>
            <div class="right col-2 border-end border-bottom">right</div>
        </div>
    </div>
</body>
</html>